extends ../layout
block content 
  #bg
    #index-bg
    #index-bg-mask
  .container
    .row.justify-content-center
      .col-12 
        p &nbsp;
    .row.justify-content-center
      .col-12 
        p &nbsp;
    .row.justify-content-center
      .col-12 
        p &nbsp;
    .row.justify-content-center
      .col-auto
        #logo
          img.align-self-center(src="/img/logo.png", alt="logo")
    .row.justify-content-center
      .col-12 
        p &nbsp;
    .row.justify-content-center
      .col-auto
        h1.headline XXXX 定位查询系统
    .row.justify-content-center
      .col-auto
        h3.sec-headline XXXX Location query system
    .row.justify-content-center
      .col-12 
        p &nbsp;    
    .row.justify-content-center
      .col-4
        button.btn.btn-block.btn-outline-light(data-toggle="modal", data-target="#signinModal") 进 入 系 统